# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# macOS
# -----------------------------
.DS_Store
._*

# -----------------------------
# Data
# -----------------------------
data/

# -----------------------------
# Training artifacts
# -----------------------------
**/checkpoints/
*.pth
*.npy

# -----------------------------
# Xcode / iOS
# -----------------------------
*.xcuserstate
xcuserdata/
DerivedData/
.build/
.swiftpm/
